@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kumbh Sans", sans-serif;
}

:root {
    /* Primary */

    --Dark_cyan: hsl(185, 75%, 39%);
    --Very_dark_desaturated_blue: hsl(229, 23%, 23%);
    --Dark_grayish_blue: hsl(227, 10%, 46%);

    /* Neutral */

    --Dark_gray: hsl(0, 0%, 59%);
    --Light_gray: hsla(0, 0%, 59%, 0.3);
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Dark_cyan);
    overflow: hidden;
}

#bg-img1 {
    position: absolute;
    /* width: 700px; */
    top: -615px;
    left: -331px
}

#bg-img2 {
    position: absolute;
    /* width: 700px; */
    bottom: -631px;
    right: -251px;
}

.card {
    position: relative;
    border-radius: 15px;
    background-color: #fff;
    width: 380px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    border-bottom: 1px solid var(--Light_gray);
    padding-bottom: 25px
}

#card-bg {
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

#person {
    border-radius: 50%;
    border: 4px solid white;
    margin-top: -54px;
}

.name {
    display: flex;
    width: 135px;
    align-items: center;
    justify-content: space-between;
}

.profile p {
    font-weight: 400;
    color: var(--Dark_grayish_blue);
}

.name p {
    color: var(--Dark_grayish_blue);
    font-weight: 700;
}

hr {
    border: 0;
    height: 1px;
    background: var(--Dark_gray);
}

.show {
    display: flex;
    justify-content: space-around;
    padding: 0 25px 20px;
    text-align: center;
}

.one,
.two,
.three {
    line-height: 1.5;

}

.show p {
    font-weight: 400;
    color: var(--Dark_grayish_blue);
}


@media screen and (max-width: 550px) {
    #bg-img1 {
        left: -91vw;
    }

    #bg-img2 {
        right: -91vw;
    }

    .card {
        width: 80vw;
    }
}